<header class="site-header">
  <div class="top-bar d-none d-lg-block">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="top-bar-left">
        <span><i class="fas fa-phone-alt"></i> <%= settings.phone || '0966.888.000' %></span>
        <span class="ml-3"><i class="fas fa-envelope"></i> <%= settings.email || 'info@hoangkim.vn' %></span>
      </div>
      <div class="top-bar-right">
        <% if (settings.facebook) { %><a href="<%= settings.facebook %>" target="_blank"><i class="fab fa-facebook-f"></i></a><% } %>
        <% if (settings.youtube) { %><a href="<%= settings.youtube %>" target="_blank"><i class="fab fa-youtube"></i></a><% } %>
        <% if (settings.zalo) { %><a href="https://zalo.me/<%= settings.zalo %>" target="_blank">Zalo</a><% } %>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark main-nav">
    <div class="container">
      <a class="navbar-brand" href="/">
        <% if (settings.logo) { %><img src="<%= settings.logo %>" alt="<%= settings.siteName %>" class="logo-img">
        <% } else { %><strong><%= settings.siteName || 'TÂN CỔ ĐIỂN HOÀNG KIM' %></strong><% } %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="mainMenu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="/">Trang chủ</a></li>
          <li class="nav-item"><a class="nav-link" href="/gioi-thieu">Giới thiệu</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/dich-vu" data-toggle="dropdown">Dịch vụ</a>
            <div class="dropdown-menu"><a class="dropdown-item" href="/dich-vu">Tất cả dịch vụ</a></div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/thiet-ke-kien-truc" data-toggle="dropdown">Kiến trúc</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/thiet-ke-kien-truc?style=tan-co-dien">Tân cổ điển</a>
              <a class="dropdown-item" href="/thiet-ke-kien-truc?style=hien-dai">Hiện đại</a>
              <a class="dropdown-item" href="/thiet-ke-kien-truc?style=co-dien-phap">Cổ điển Pháp</a>
              <a class="dropdown-item" href="/thiet-ke-kien-truc?type=biet-thu">Biệt thự</a>
              <a class="dropdown-item" href="/thiet-ke-kien-truc?type=lau-dai">Lâu đài</a>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="/thiet-ke-noi-that">Nội thất</a></li>
          <li class="nav-item"><a class="nav-link" href="/thi-cong">Thi công</a></li>
          <li class="nav-item"><a class="nav-link" href="/tin-tuc">Tin tức</a></li>
          <li class="nav-item"><a class="nav-link" href="/lien-he">Liên hệ</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
